/* Genreral */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    background-color: #586A6A;
    padding: 15px;
    text-align: center;
    color: #F0F7EE;
    font-size: 24px;
    font-family: 'Pacifico', cursive;
}
main {
    flex-grow: 1;
    background-image: url('./images/chatter\ background.jpg');
    background-position: center;
    background-size: cover;
}
h1, h2 {
    color: #586A6A;                
}
input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid  #586A6A;
    width: 100%;
    margin-bottom: 10px;
}
.primary-btn {
    color: #F0F7EE;
    background-color: #586A6A;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

/* Log in */
.login-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-box {
    border: 1px solid  #586A6A;
    width: 500px;
    padding: 20px 50px;
    text-align: center;
    background-color: rgba(189, 207, 181, .7);
    box-sizing: border-box;
}
.login-btn {
    display: block;
    margin: auto;
}
.login-box a {
    color: #586A6A;
    text-decoration: none;
    font-weight: bold;
}
/* Home */
.home-main {
    display: flex;
    justify-content: center;
}
.timeline-container {
    background-color: #F0F7EE;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.chats-feed {
    flex-grow: 3;
    border-right: 1px solid #586A6A;
}
.recent-users-feed {
    flex-grow: 1;
    padding-left: 20px;
}
/* Chats */
.chat {
    display: flex;
}
.chat .profile-pic {
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.chat p {
    margin-top: 0px;
    font-size: 18px;
    color: #586A6A;
}
.chat .metadata {
    font-size: 14px;
    color:  #B287A3;
}